---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="Bootstrap Blog - B4 Template by Bootstrap Temple" activeNav="home">

		<!-- Hero Section-->
		<section style="background: url(/img/hero.jpg); background-size: cover; background-position: center center;" class="hero">
			<div class="container">
				<div class="row">
					<div class="col-lg-7">
						<!-- <h1>Bamboo Blog - A personal journey of growth and discovery</h1> -->
						 <h1>Bamboo Blog - Góc nhỏ của tôi trên internet!</h1>
						<a href="/" class="hero-link">Discover More</a>
					</div>
				</div>
				<a href=".intro" class="continue link-scroll"><i class="fa fa-long-arrow-down"></i> Scroll Down</a>
			</div>
		</section>

		<!-- Intro Section-->
		<section class="intro">
			<div class="container">
				<div class="row">
					<div class="col-lg-8">
						<!-- <h2 class="h3">Welcome to my corner of the internet</h2> -->
						<!-- <p class="text-big">
							I'm on a journey of continuous <strong>growth—learning</strong>, reflecting, and
							discovering what it means to live intentionally. Here, I share my
							thoughts on life, personal development, and the lessons I gather
							along the way. This space is equal parts journal and conversation,
							a place where I explore ideas that matter to me, and hopefully,
							resonate with you too.
							. Whether you're
							here for inspiration, a different perspective, or just curious about
							another person's journey, I'm glad you stopped by. Let's discover
							together what it means to live with intention and purpose.💡
							This is a space where I share my ongoing journey of growth and
							self-discovery. Through writing, I explore ideas about living
							intentionally, learning continuously, and finding meaning in
							everyday experiences.

							Whether you're here seeking inspiration, a fresh perspective,
							or simply curious about how others navigate life's challenges,
							I hope you'll find something that resonates. This blog is both
							a personal journal and an open invitation to reflect together.

							Thanks for stopping by. Let's discover what it means to live with intention and purpose.
							</p> -->
						<h2 class="h3">Chào bạn,</h2>
						<p class="text-big">
							Tại đây, tôi chia sẻ những suy nghĩ về cuộc sống, hành trình phát triển bản thân và những bài học tôi thu thập được trên con đường của mình.
						</p>
						<p class="text-big">
							Không gian này vừa là <strong>nhật ký cá nhân</strong>, vừa là <strong>nơi trò chuyện</strong> – là <strong>lời mời mở rộng</strong> để cùng nhau chia sẻ và hy vọng sẽ cộng hưởng với bạn. Dù bạn đến đây để tìm cảm hứng, một góc nhìn mới, hay chỉ đơn giản là tò mò về hành trình của người khác, tôi hy vọng bạn sẽ tìm thấy điều gì đó phù hợp. Cảm ơn bạn đã ghé thăm!
						</p>
						<p class="text-big">
							<!-- Cảm ơn bạn đã ghé thăm! -->
							 <strong>Bamboo Blog </strong>- Nơi tôi vẽ nên thế giới của riêng mình!
							<!-- Cảm ơn bạn đã ghé thăm <strong>nơi tôi vẽ nên thế giới của riêng mình!</strong> -->
						</p>
					</div>
				</div>
			</div>
		</section>

		<!-- Featured Posts Section-->
		<section class="featured-posts no-padding-top">
			<div class="container">
				<!-- Post-->
				<div class="row d-flex align-items-stretch">
					<div class="text col-lg-7">
						<div class="text-inner d-flex align-items-center">
							<div class="content">
								<header class="post-header">
									<div class="category">
										<a href="/">Business</a><a href="/">Technology</a>
									</div>
									<a href="/post">
										<h2 class="h4">Alberto Savoia Can Teach You About Interior</h2>
									</a>
								</header>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrude consectetur adipisicing elit, sed do eiusmod tempor incididunt.
								</p>
								<footer class="post-footer d-flex align-items-center">
									<a href="/" class="author d-flex align-items-center flex-wrap">
										<div class="avatar">
											<img src="/img/avatar-1.jpg" alt="..." class="img-fluid" />
										</div>
										<div class="title"><span>John Doe</span></div>
									</a>
									<div class="date"><i class="icon-clock"></i> 2 months ago</div>
									<div class="comments"><i class="icon-comment"></i>12</div>
								</footer>
							</div>
						</div>
					</div>
					<div class="image col-lg-5" style="min-height: 346.797px">
						<img src="/img/featured-pic-1.jpeg" alt="..." />
					</div>
				</div>
				<!-- Post -->
				<div class="row d-flex align-items-stretch">
					<div class="image col-lg-5" style="min-height: 346.797px">
						<img src="/img/featured-pic-2.jpeg" alt="..." />
					</div>
					<div class="text col-lg-7">
						<div class="text-inner d-flex align-items-center">
							<div class="content">
								<header class="post-header">
									<div class="category">
										<a href="/">Business</a><a href="/">Technology</a>
									</div>
									<a href="/post">
										<h2 class="h4">Alberto Savoia Can Teach You About Interior</h2>
									</a>
								</header>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrude consectetur adipisicing elit, sed do eiusmod tempor incididunt.
								</p>
								<footer class="post-footer d-flex align-items-center">
									<a href="/" class="author d-flex align-items-center flex-wrap">
										<div class="avatar">
											<img src="/img/avatar-2.jpg" alt="..." class="img-fluid" />
										</div>
										<div class="title"><span>John Doe</span></div>
									</a>
									<div class="date"><i class="icon-clock"></i> 2 months ago</div>
									<div class="comments"><i class="icon-comment"></i>12</div>
								</footer>
							</div>
						</div>
					</div>
				</div>
				<!-- Post -->
				<div class="row d-flex align-items-stretch">
					<div class="text col-lg-7">
						<div class="text-inner d-flex align-items-center">
							<div class="content">
								<header class="post-header">
									<div class="category">
										<a href="/">Business</a><a href="/">Technology</a>
									</div>
									<a href="/post">
										<h2 class="h4">Alberto Savoia Can Teach You About Interior</h2>
									</a>
								</header>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrude consectetur adipisicing elit, sed do eiusmod tempor incididunt.
								</p>
								<footer class="post-footer d-flex align-items-center">
									<a href="/" class="author d-flex align-items-center flex-wrap">
										<div class="avatar">
											<img src="/img/avatar-3.jpg" alt="..." class="img-fluid" />
										</div>
										<div class="title"><span>John Doe</span></div>
									</a>
									<div class="date"><i class="icon-clock"></i> 2 months ago</div>
									<div class="comments"><i class="icon-comment"></i>12</div>
								</footer>
							</div>
						</div>
					</div>
					<div class="image col-lg-5" style="min-height: 346.797px">
						<img src="/img/featured-pic-3.jpeg" alt="..." />
					</div>
				</div>
			</div>
		</section>

		<!-- Divider Section-->
		<section style="background: url(/img/divider-bg.jpg); background-size: cover; background-position: center bottom;" class="divider">
			<div class="container">
				<div class="row">
					<div class="col-md-7">
						<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</h2>
						<a href="/" class="hero-link">View More</a>
					</div>
				</div>
			</div>
		</section>

		<!-- Latest Posts -->
		<section class="latest-posts">
			<div class="container">
				<header>
					<h2>Latest from the blog</h2>
					<p class="text-big">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				</header>
				<div class="row">
					<div class="post col-md-4">
						<div class="post-thumbnail">
							<a href="/post"><img src="/img/blog-1.jpg" alt="..." class="img-fluid" /></a>
						</div>
						<div class="post-details">
							<div class="post-meta d-flex justify-content-between">
								<div class="date">20 May | 2016</div>
								<div class="category"><a href="/">Business</a></div>
							</div>
							<a href="/post">
								<h3 class="h4">Ways to remember your important ideas</h3>
							</a>
							<p class="text-muted">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
							</p>
						</div>
					</div>
					<div class="post col-md-4">
						<div class="post-thumbnail">
							<a href="/post"><img src="/img/blog-2.jpg" alt="..." class="img-fluid" /></a>
						</div>
						<div class="post-details">
							<div class="post-meta d-flex justify-content-between">
								<div class="date">20 May | 2016</div>
								<div class="category"><a href="/">Technology</a></div>
							</div>
							<a href="/post">
								<h3 class="h4">Diversity in Engineering: Effect on Questions</h3>
							</a>
							<p class="text-muted">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
							</p>
						</div>
					</div>
					<div class="post col-md-4">
						<div class="post-thumbnail">
							<a href="/post"><img src="/img/blog-3.jpg" alt="..." class="img-fluid" /></a>
						</div>
						<div class="post-details">
							<div class="post-meta d-flex justify-content-between">
								<div class="date">20 May | 2016</div>
								<div class="category"><a href="/">Financial</a></div>
							</div>
							<a href="/post">
								<h3 class="h4">Alberto Savoia Can Teach You About Interior</h3>
							</a>
							<p class="text-muted">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Newsletter Section-->
		<section class="newsletter no-padding-top">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h2>Subscribe to Newsletter</h2>
						<p class="text-big">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						</p>
					</div>
					<div class="col-md-8">
						<div class="form-holder">
							<form action="/">
								<div class="form-group">
									<input type="email" name="email" id="email" placeholder="Type your email address" />
									<button type="submit" class="submit">Subscribe</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Gallery Section-->
		<section class="gallery no-padding">
			<div class="row">
				<div class="mix col-lg-3 col-md-3 col-sm-6">
					<div class="item">
						<a href="/img/gallery-1.jpg" data-fancybox="gallery" class="image">
							<img src="/img/gallery-1.jpg" alt="..." class="img-fluid" />
							<div class="overlay d-flex align-items-center justify-content-center">
								<i class="icon-search"></i>
							</div>
						</a>
					</div>
				</div>
				<div class="mix col-lg-3 col-md-3 col-sm-6">
					<div class="item">
						<a href="/img/gallery-2.jpg" data-fancybox="gallery" class="image">
							<img src="/img/gallery-2.jpg" alt="..." class="img-fluid" />
							<div class="overlay d-flex align-items-center justify-content-center">
								<i class="icon-search"></i>
							</div>
						</a>
					</div>
				</div>
				<div class="mix col-lg-3 col-md-3 col-sm-6">
					<div class="item">
						<a href="/img/gallery-3.jpg" data-fancybox="gallery" class="image">
							<img src="/img/gallery-3.jpg" alt="..." class="img-fluid" />
							<div class="overlay d-flex align-items-center justify-content-center">
								<i class="icon-search"></i>
							</div>
						</a>
					</div>
				</div>
				<div class="mix col-lg-3 col-md-3 col-sm-6">
					<div class="item">
						<a href="/img/gallery-4.jpg" data-fancybox="gallery" class="image">
							<img src="/img/gallery-4.jpg" alt="..." class="img-fluid" />
							<div class="overlay d-flex align-items-center justify-content-center">
								<i class="icon-search"></i>
							</div>
						</a>
					</div>
				</div>
			</div>
		</section>
</MainLayout>
